<h1>生徒一覧</h1>

<%= search_form_for @search, url:users_index_path do |f|%>
	<%= f.search_field :first_name_or_last_name_or_club_cont %>

	<% f.submit "検索"%>
<%end%>
草生やすようにね
<table>
	<caption>生徒管理</caption>
	<thead>
		<tr>
			<th>名字</th>
			<th>名前</th>
			<th>性別</th>
			<th>年齢</th>
			<th>学年</th>
			<th>部活動</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td>
				<%= user.last_name %>
			</td>
			<td>
				<%= user.first_name %>
			</td>
			<td>
				<% if user.gender == false %>
				男
				<%else%>
				女
				<%end%>
			</td>
			<td>
				<%= user.age %>
			</td>
			<td>
				<%= user.grade %>
			</td>
			<td>
				<%= user.club %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
