<table>
	<caption>生徒管理</caption>
	<thead>
		<tr>
			<th>名字</th>
			<th>名前</th>
			<th>性別</th>
			<th>年齢</th>
			<th>学年</th>
			<th>部活動</th>
		</tr>
	</thead>
	<tbody>
		<% @user.each do |user| %>
		<tr>
			<td>
				<%= user.last_name %>
			</td>
			<td>
				<%= user.first_name %>
			</td>
			<td>
				<%= user.gender %>
			</td>
			<td>
				<%= user.age %>
			</td>
			<td>
				<%= user.grade %>
			</td>
			<td>
				<%= user.club %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
